<footer class="bg-black text-gray-100 py-12">
  <div class="max-w-6xl mx-auto px-6">
    <h3 class="text-2xl font-bold text-center mb-10">
      Estamos aquí para apoyarte<br />
      <span class="font-normal text-gray-300 text-lg"
        >Comunícate con nosotros</span
      >
    </h3>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-10 text-center">
      <div>
        <h4 class="text-xl font-semibold text-primary mb-3">Sede Centro</h4>
        <p class="text-sm font-medium">Contacto</p>
        <p class="mb-2">Carmen Fernández</p>

        <p class="text-sm font-medium">Correo</p>
        <a
          href="mailto:cfernandezb@tecsup.edu.pe"
          class="text-blime-bright hover:underline block mb-2"
        >
          cfernandezb@tecsup.edu.pe
        </a>

        <p class="text-sm font-medium">Celular</p>
        <a href="tel:+51942877224" class="hover:underline"> 942 877 224 </a>
      </div>

      <div>
        <h4 class="text-xl font-semibold text-primary mb-3">Sede Norte</h4>
        <p class="text-sm font-medium">Contacto</p>
        <p class="mb-2">Antonella Camacho</p>

        <p class="text-sm font-medium">Correo</p>
        <a
          href="mailto:jcamacho@tecsup.edu.pe"
          class="text-blime-bright hover:underline block mb-2"
        >
          jcamacho@tecsup.edu.pe
        </a>

        <p class="text-sm font-medium">Celular</p>
        <a href="tel:+51941867865" class="hover:underline"> 941 867 865 </a>
      </div>

      <div>
        <h4 class="text-xl font-semibold text-primary mb-3">Sede Sur</h4>
        <p class="text-sm font-medium">Contacto</p>
        <p class="mb-2">María Eugenia Paz</p>

        <p class="text-sm font-medium">Correo</p>
        <a
          href="mailto:mpazh@tecsup.edu.pe"
          class="text-blime-bright hover:underline block mb-2"
        >
          mpazh@tecsup.edu.pe
        </a>

        <p class="text-sm font-medium">Celular</p>
        <a href="tel:+51959920305" class="hover:underline"> 959 920 305 </a>
      </div>
    </div>
  </div>
</footer>
