---
import tecsupLogo from "../../assets/images/logo-tecsup.png";
import alumniLogo from "../../assets/images/logo-alumni.png";
---

<header class="bg-black text-white">
  <div class="max-w-6xl mx-auto px-4 py-4">
    <nav class="flex items-center justify-between">
      <a href="/">
        <img src={tecsupLogo.src} alt="Logo Tecsup" class="h-6 md:h-8" />
      </a>
      <div class="flex gap-1 md:gap-2 items-center">
        <a
          href="https://www.youtube.com/@alumnitecsup1013"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 24 24"
            style="fill: rgb(255, 255, 255);transform: ;msFilter:;"
            ><path
              d="M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831zM9.996 15.005l.005-6 5.207 3.005-5.212 2.995z"
            ></path></svg
          >
        </a>
        <a href="" target="_blank" rel="noopener noreferrer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 24 24"
            style="fill: rgb(255, 255, 255);transform: ;msFilter:;"
            ><path
              d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22.336 22.336 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202h3.312z"
            ></path></svg
          >
        </a>
        <a
          href="https://www.linkedin.com/company/alumni-tecsup"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 24 24"
            style="fill: rgb(255, 255, 255);transform: ;msFilter:;"
            ><path
              d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.339 18.337H5.667v-8.59h2.672v8.59zM7.003 8.574a1.548 1.548 0 1 1 0-3.096 1.548 1.548 0 0 1 0 3.096zm11.335 9.763h-2.669V14.16c0-.996-.018-2.277-1.388-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248h-2.667v-8.59h2.56v1.174h.037c.355-.675 1.227-1.387 2.524-1.387 2.704 0 3.203 1.778 3.203 4.092v4.71z"
            ></path></svg
          >
        </a>
      </div>

      <img
        src={alumniLogo.src}
        alt="Logo Alumni"
        class="hidden md:block h-6 md:h-8"
      />
    </nav>
  </div>
</header>
