---
import BaseLayout from "../layouts/BasicLayout.astro";
---

<BaseLayout title="Página no encontrada">
  <section
    class="min-h-screen flex flex-col items-center justify-center text-center text-white bg-bpurple"
  >
    <h1 class="text-5xl font-bold mb-4">404</h1>
    <p class="text-lg mb-6">Lo sentimos, la página que buscas no existe.</p>
    <a href="/" class="text-blime-bright hover:underline">Volver al inicio</a>
  </section>
</BaseLayout>
