---
import BasicLayout from "../layouts/BasicLayout.astro";
import AudienceBackgroundImage from "../assets/images/bg-audience.jpg";
---

<BasicLayout>
  <section
    class="relative bg-cover bg-center min-h-screen flex items-center justify-center"
    style={`background-image: url(${AudienceBackgroundImage.src});`}
  >
    <div
      class="w-full max-w-5xl aspect-video bg-black/80 rounded-xl overflow-hidden shadow-lg"
    >
      <iframe
        class="w-full h-full"
        src="https://www.youtube.com/embed/dQw4w9WgXcQ"
        title="YouTube video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </section>
</BasicLayout>
