---
import BasicLayout from "../layouts/BasicLayout.astro";
import tLeft from "../assets/images/t-left.png";
import tRight from "../assets/images/t-right.png";
import InputText from "../components/inputs/InputText.astro";
import SelectText from "../components/inputs/SelectText.astro";
import InputFile from "../components/inputs/InputFile.astro";
import ButtonCommon from "../components/buttons/ButtonCommon.astro";
---

<BasicLayout>
  <section class="text-white px-6 py-20">
    <img
      src={tLeft.src}
      alt=""
      aria-hidden="true"
      class="absolute top-16 left-0 w-18 md:w-30 opacity-20 -z-10"
    />

    <img
      src={tRight.src}
      alt=""
      aria-hidden="true"
      class="absolute top-16 right-0 w-18 md:w-30 opacity-20 -z-10"
    />

    <div class="max-w-6xl mx-auto">
      <div class="flex flex-col items-center text-center">
        <h2
          class="text-2xl md:text-3xl font-extrabold leading-tight font-al mb-4"
        >
          Regístrate para participar
        </h2>

        <h3 class="text-sm font-light text-center mb-8">
          Por favor, completa la siguiente información
        </h3>

        <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4 mb-8">
          <InputText
            id="email"
            label="Correo electrónico Tecsup"
            type="email"
            placeholder="example@tecsup.edu.pe"
            pattern="^[a-zA-Z0-9._%+-]+@tecsup\.edu\.pe$"
            required
          />

          <InputText
            id="fistName"
            label="Nombres"
            type="text"
            placeholder="Juan Carlos"
            required
          />

          <InputText
            id="lastName"
            label="Apellidos"
            type="text"
            placeholder="Juan Carlos"
            required
          />

          <InputText
            id="dni"
            label="DNI"
            type="text"
            placeholder="00000000"
            required
            minLength={8}
            maxLength={8}
            errorMessage="El DNI debe tener exactamente 8 dígitos"
            autocomplete="off"
            pattern="[0-9]{8}"
          />

          <InputText
            id="phone"
            label="Teléfono"
            type="phone"
            placeholder="000000000"
            required
            minLength={9}
            maxLength={9}
            errorMessage="El teléfono debe tener exactamente 9 dígitos"
            autocomplete="off"
            pattern="[0-9]{9}"
          />

          <SelectText
            id="sede"
            label="Sede Tecsup"
            placeholder="Selecciona tu sede"
            options={[
              { value: "lima", label: "Lima" },
              { value: "arequipa", label: "Arequipa" },
              { value: "trujillo", label: "Trujillo" },
            ]}
            helperText="Elige la sede donde estudias"
          />

          <SelectText
            id="estado"
            label="¿Alumno o Egresado?"
            placeholder="Selecciona tu sede"
            options={[
              { value: "alumno", label: "Alumno" },
              { value: "egresado", label: "Egresado" },
            ]}
            helperText="Elige tu estado"
          />

          <SelectText
            id="carrera"
            label="Carrera"
            placeholder="Selecciona tu carrera"
            options={[
              {
                value: "administracion_sistemas",
                label: "Administración de Tecnologías de la Información",
              },
              { value: "automatizacion", label: "Automatización Industrial" },
              { value: "biotecnologia", label: "Biotecnología" },
              { value: "diseno_industrial", label: "Diseño Industrial" },
              {
                value: "diseno_grafico",
                label: "Diseño y Desarrollo de Videojuegos",
              },
              {
                value: "desarrollo_software",
                label: "Diseño y Desarrollo de Software",
              },
              {
                value: "electricidad_industrial",
                label: "Electricidad Industrial",
              },
              { value: "electronica", label: "Electrónica Industrial" },
              {
                value: "gestion_ambiental",
                label: "Gestión y Mantenimiento de Maquinaria Pesada",
              },
              {
                value: "ingenieria_ambiental",
                label: "Gestión y Seguridad Industrial",
              },
              {
                value: "mantenimiento_mecanico",
                label: "Mantenimiento Mecánico de Planta",
              },
              { value: "mecanica_automotriz", label: "Mecatrónica Automotriz" },
              { value: "mecatronica", label: "Mecatrónica Industrial" },
              { value: "mineria", label: "Minería" },
              {
                value: "produccion_industrial",
                label: "Procesos de Producción Industrial",
              },
              { value: "quimica_industrial", label: "Química Industrial" },
              {
                value: "redes_y_seguridad",
                label: "Redes y Seguridad Informática",
              },
              {
                value: "tecnologia_digital",
                label: "Tecnología Digital e Innovación",
              },
              { value: "tecnologias_mineras", label: "Tecnologías Mineras" },
              { value: "telecomunicaciones", label: "Telecomunicaciones" },
            ]}
            helperText="Elige tu estado"
          />

          <SelectText
            id="egreso"
            label="Año de egreso"
            placeholder="Selecciona tu año de egreso"
            options={[
              { value: "1980", label: "1980" },
              { value: "1981", label: "1981" },
              { value: "1982", label: "1982" },
              { value: "1983", label: "1983" },
              { value: "1984", label: "1984" },
              { value: "1985", label: "1985" },

              { value: "2024", label: "2024" },
              { value: "2025", label: "2025" },
            ]}
            helperText="Elige tu estado"
          />
        </div>

        <InputFile
          id="cv-upload"
          title="SUBE TU CV Y PARTICIPA"
          description="¡No dejes pasar la oportunidad! Comparte tu CV en la Feria Laboral Virtual <br /> y postula directamente a las ofertas disponibles."
          accept="application/pdf"
          maxSize={5}
          required
        />

        <div class="flex items-center justify-center gap-2 my-8">
          <input
            type="checkbox"
            class="appearance-none w-15 h-5 border border-gray-300 rounded bg-white
         checked:bg-green-500 checked:border-green-500
         checked:before:content-['✔'] checked:before:text-white checked:before:flex checked:before:items-center checked:before:justify-center"
          />
          <div class="text-sm text-left">
            Al completar este formulario autorizas a TECSUP N°1 y a ASOCIACION
            TECSUP N°2 a usar tus datos personales únicamente para fines de
            seguimiento de egresados, empleabilidad y comunicación
            institucional. Tu información será guardada de manera segura en
            nuestra plataforma JOINTEC y no será compartida para otros fines.
            Recuerda que, de acuerdo con la Ley de Protección de Datos
            Personales, puedes en cualquier momento acceder, actualizar o
            solicitar la eliminación de tus datos escribiendo a
            datospersonales@tecsup.edu.pe
          </div>
        </div>

        <ButtonCommon type="submit" id="register" size="md" className="w-full md:w-80">
          Registrarse
        </ButtonCommon>
      </div>
    </div>
  </section>
</BasicLayout>
