---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout>
  <section class="max-w-6xl mx-auto text-white px-6 py-20">
    <div class="flex flex-col items-center text-center">
      <h2
        class="text-2xl md:text-3xl font-extrabold leading-tight font-al mb-4"
      >
        Regístrate para participar
      </h2>

      <h3 class="text-sm font-light text-center mb-8">
        Por favor, completa la siguiente información
      </h3>

      <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="flex flex-col items-start gap-3">
          <label for="email" class="text-sm">Correo electrónico Tecsup</label>
          <input
            id="email"
            type="email"
            placeholder="example@tecsup.edu.pe"
            class="w-full bg-white text-sm rounded-lg h-10 px-2 placeholder-gray-500 focus:outline-none focus:ring-2"
          />
        </div>
        <div class="flex flex-col items-start gap-3">
          <label for="email" class="text-sm">Correo electrónico Tecsup</label>
          <input
            id="email"
            type="email"
            placeholder="example@tecsup.edu.pe"
            class="w-full bg-white text-sm rounded-lg h-10 px-2 placeholder-gray-500 focus:outline-none focus:ring-2"
          />
        </div>
        <div class="flex flex-col items-start gap-3">
          <label for="email" class="text-sm">Correo electrónico Tecsup</label>
          <input
            id="email"
            type="email"
            placeholder="example@tecsup.edu.pe"
            class="w-full bg-white text-sm rounded-lg h-10 px-2 placeholder-gray-500 focus:outline-none focus:ring-2"
          />
        </div>
        <div class="flex flex-col items-start gap-3">
          <label for="email" class="text-sm">Correo electrónico Tecsup</label>
          <input
            id="email"
            type="email"
            placeholder="example@tecsup.edu.pe"
            class="w-full bg-white text-sm rounded-lg h-10 px-2 placeholder-gray-500 focus:outline-none focus:ring-2"
          />
        </div>
        <div class="flex flex-col items-start gap-3">
          <label for="email" class="text-sm">Correo electrónico Tecsup</label>
          <input
            id="email"
            type="email"
            placeholder="example@tecsup.edu.pe"
            class="w-full bg-white text-sm rounded-lg h-10 px-2 placeholder-gray-500 focus:outline-none focus:ring-2"
          />
        </div>
        <div class="flex flex-col items-start gap-3">
          <label for="email" class="text-sm">Correo electrónico Tecsup</label>
          <input
            id="email"
            type="email"
            placeholder="example@tecsup.edu.pe"
            class="w-full bg-white text-sm rounded-lg h-10 px-2 placeholder-gray-500 focus:outline-none focus:ring-2"
          />
        </div>
        <div class="flex flex-col items-start gap-3">
          <label for="email" class="text-sm">Correo electrónico Tecsup</label>
          <input
            id="email"
            type="email"
            placeholder="example@tecsup.edu.pe"
            class="w-full bg-white text-sm rounded-lg h-10 px-2 placeholder-gray-500 focus:outline-none focus:ring-2"
          />
        </div>
        <div class="flex flex-col items-start gap-3">
          <label for="email" class="text-sm">Correo electrónico Tecsup</label>
          <input
            id="email"
            type="email"
            placeholder="example@tecsup.edu.pe"
            class="w-full bg-white text-sm rounded-lg h-10 px-2 placeholder-gray-500 focus:outline-none focus:ring-2"
          />
        </div>
        <div class="flex flex-col items-start gap-3">
          <label for="email" class="text-sm">Correo electrónico Tecsup</label>
          <input
            id="email"
            type="email"
            placeholder="example@tecsup.edu.pe"
            class="w-full bg-white text-sm rounded-lg h-10 px-2 placeholder-gray-500 focus:outline-none focus:ring-2"
          />
        </div>
        <div class="flex flex-col items-start gap-3">
          <label for="email" class="text-sm">Correo electrónico Tecsup</label>
          <input
            id="email"
            type="email"
            placeholder="example@tecsup.edu.pe"
            class="w-full bg-white text-sm rounded-lg h-10 px-2 placeholder-gray-500 focus:outline-none focus:ring-2"
          />
        </div>
      </div>


      <label
        for="cv-upload"
        class="w-full bg-white/10 rounded-3xl border-2 border-dashed border-gray-50 mt-8 mb-6 px-4 py-4 text-center flex flex-col items-center justify-center cursor-pointer"
      >
        <h3 class="text-lg font-bold mb-2">SUBE TU CV Y PARTICIPA</h3>

        <p class="text-sm mb-2">
          ¡No dejes pasar la oportunidad! Comparte tu CV en la Feria Laboral
          Virtual <br /> y postula directamente a las ofertas disponibles.
        </p>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-14 h-12"
          viewBox="0 0 24 24"
          style="fill: rgb(255, 255, 255);"
        >
          <path d="M13 19v-4h3l-4-5-4 5h3v4z"></path>
          <path
            d="M7 19h2v-2H7c-1.654 0-3-1.346-3-3 0-1.404 1.199-2.756 2.673-3.015l.581-.102.192-.558C8.149 8.274 9.895 7 12 7c2.757 0 5 2.243 5 5v1h1c1.103 0 2 .897 2 2s-.897 2-2 2h-3v2h3c2.206 0 4-1.794 4-4a4.01 4.01 0 0 0-3.056-3.888C18.507 7.67 15.56 5 12 5 9.244 5 6.85 6.611 5.757 9.15 3.609 9.792 2 11.82 2 14c0 2.757 2.243 5 5 5z"
          ></path>
        </svg>

        <span class="text-sm">Archivo .PDF / max. 5mb</span>


        <input
          id="cv-upload"
          type="file"
          accept="application/pdf"
          class="hidden"
        />
      </label>

      
      <div class="flex items-center justify-center gap-2">
        <input
          type="checkbox"
          class="appearance-none w-5 h-5 border border-gray-300 rounded bg-white
         checked:bg-green-500 checked:border-green-500
         checked:before:content-['✔'] checked:before:text-white checked:before:flex checked:before:items-center checked:before:justify-center"
        />
        <div class="text-sm">
          Autorizo el uso de mis datos personales para fines relacionados con la
          Feria Laboral Virtual, según lo indicado en las Políticas de
          Privacidad.
        </div>
      </div>
      <button
        type="submit"
        class="w-60 bg-black h-12 rounded-lg hover:bg-gray-900 transition mt-4"
      >
        Registrar
      </button>
    </div>
  </section>
</BasicLayout>
